<!doctype html>
<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<head>
	<title> Agivis Motorista </title>
	<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
	<script src="controller.js"></script>
	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<!-- Optional theme -->
<link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body ng-app="">
<div ng-controller="controller" align="center" class="container-fluid">
	<div class="row-fluid">
		<h1> Quem é o motorista da rodada? </h1>

		<div class="span12">
			<form ng-click="reset()"><font color="#CD0000">Nome:</font>
				<input ng-model="pessoa.nome" autofocus>
		
				<button type="submit" class="btn btn-danger" ng-click="add(pessoa, id)" ng-disabled="!pessoa.nome">Go</button>
		<!--<button ng-click="reset()">Reset</button>-->
			</form>
		</div>
	
	<br><br><br>

		

	 	<div class="span12" ng-repeat="pessoa in lista">
				<button type="button" class="pessoas" ng-click="remove($index)" id="button">{{pessoa.nome}}</button>
	<br>
		</div>

	<br><br><br><br>
		<div class="span12">
		<br>
			<button type="button" class="btn btn-danger btn-lg" ng-click="aponta()" ng-hide="lista.length < 1">SELECT</button> 
	<br>
		</div>
		<div class="span12" ng-show="escolhido">
			<h2><font color="#CD0000">O motorista é: <font></font>
			<font color="#000000">{{escolhido}}</font></h2>
		<div>
	</div>
</div>


  

</body>

</html>
